In [1]:
from pandas import Series,DataFrame
import pandas as pd

In [2]:
new_series=Series([4,7,-5,3])
new_series

0    4
1    7
2   -5
3    3
dtype: int64

In [3]:
new_series.values

array([ 4,  7, -5,  3])

In [4]:
new_series.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
new_series2=Series([3,4,2,3,5],index=[7,2,3,4,5])

In [8]:
new_series2

7    3
2    4
3    2
4    3
5    5
dtype: int64

In [9]:
new_series2.index

Int64Index([7, 2, 3, 4, 5], dtype='int64')

In [10]:
new_series2[7]

3

In [20]:
new_series2[2]=5
new_series2

7    3
2    5
3    2
4    3
5    5
dtype: int64

In [21]:
new_series2[new_series2>3]

2    5
5    5
dtype: int64

In [22]:
new_series2*4

7    12
2    20
3     8
4    12
5    20
dtype: int64

In [23]:
import numpy as np
np.exp(new_series2)

7     20.085537
2    148.413159
3      7.389056
4     20.085537
5    148.413159
dtype: float64

In [25]:
5 in new_series2

True

In [27]:
data={'Data Science':90000,'Data Analyst':80000}
s3=Series(data)
s3

Data Analyst    80000
Data Science    90000
dtype: int64

In [29]:
jobs=['Data Science','Data Engineer','Data Analyst']
s4=Series(data,index=jobs)
s4

Data Science     90000.0
Data Engineer        NaN
Data Analyst     80000.0
dtype: float64

In [30]:
s4.isnull()

Data Science     False
Data Engineer     True
Data Analyst     False
dtype: bool

In [31]:
s4.notnull()

Data Science      True
Data Engineer    False
Data Analyst      True
dtype: bool

In [32]:
s4+s3

Data Analyst     160000.0
Data Engineer         NaN
Data Science     180000.0
dtype: float64

In [33]:
s4.name="Jobs"
s4.index.name="Job Titles"

In [34]:
s4

Job Titles
Data Science     90000.0
Data Engineer        NaN
Data Analyst     80000.0
Name: Jobs, dtype: float64